body {
  font: 1.2em / 1.5 sans-serif;
}
nav{
  & ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 400px;
  display: flex; /*torna a caixa flexivel*/
  flex-direction: row; /*muda a direção dos itens*/
  justify-content: center; /*Alinha horizontalmente*/
  align-items: center; /*Alinha verticalmente*/
  flex-wrap: wrap; /*Permite pular linha*/
  align-content: flex-end; /* ALinha verticalmente as linhas após o wrap*/
  }



  & a:link,
  & a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
  }
}


ul li:first-child{
  flex-grow: 1;
  order: 0;
  flex-basis: 1000px;
}

ul > *{

  flex-shrink: 1; /*Determina como os items vão encolher*/
  flex-grow: 1;
}

